@import url(//db.onlinewebfonts.com/c/65780863e7302fe257df982341d6a1cb?family=PKMN+RBYGSC);

.closerview {
    box-sizing: border-box;
    min-width: 400px;
    height: 100%;
    padding: 40px;
    flex-grow: 1;


    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: #fff97e;

}

.closerviewpokemon {
    background-image: url("/src/Pokemon-forest-by-BlazingIfrit-Fur-Affinity-dot-net.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 30px;
    border: white 15px solid;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    image-rendering: pixelated;
}

.datawrapper {

    height: 12 0px;
    padding: 20px;
    color: rgb(27, 14, 55);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #10b992;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}



.dataname {
    margin: 0 0 5px;
    text-transform: capitalize;
    background-color: rgb(238, 238, 238);
    border-radius: 20px;
    width: 100%;
    text-align: center;
    font-family: "PKMN RBYGSC";
    font-size: 1rem;

    border-top: 2px solid rgba(119, 109, 109, 0.815);
}

.dataname>p {

    margin: 1%;
    padding: 1%;
}

.datachar {
    font-size: 0.7em;
    font-weight: 300;

}

.shinybtn {

    margin: 0 auto;
    background: #13cf97;
    appearance: none;
    width: 40%;
    height: 30px;
    font-size: 0.7em;

    box-sizing: border-box;
    border-radius: 0.6rem;
    align-self: center;


    font-family: "PKMN RBYGSC";
    padding-bottom: 2%;
    padding-top: 2%;
    text-align: center;
    color: rgb(255, 254, 238);
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: all .1s ease;
    text-transform: uppercase;
}

.shinybtn:hover {
    background: #fffdee;
    color: #050801;
    box-shadow: 0 0 5px #d8f403,
        0 0 25px #f2f4d1,
        0 0 50px #c9fcff,
        0 0 200px #ffe263;
    -webkit-box-reflect: below 0.6px linear-gradient(transparent, rgba(223, 223, 223, 0.333));


}

.shinybtn:active {
    box-shadow: 0px 4px 8px rgba(darken(rgb(243, 255, 191), 30%));
    transform: scale(0.80);
}


.datalist {

    list-style-type: none;
    margin: 0;
    display: flex;
    width: 220px;
    height: 70px;
    padding-top: 3%;


    background-color: white;
    border: 2px solid rgb(120, 120, 120);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;

    align-items: stretch;

}

.datalist>li {

    margin: 0;

    text-transform: capitalize;




}

.answer {
    font-weight: 600;


}