@import url(//db.onlinewebfonts.com/c/65780863e7302fe257df982341d6a1cb?family=PKMN+RBYGSC);



.wrapper {

    width: 1100px;
    height: 500px;
    margin: 50px 60px auto;
    overflow-y: scroll;
    border: 10px solid rgb(156, 156, 255);
    border-radius: 20px;
    background-color: aqua;


}

.wrapper::-webkit-scrollbar {

    width: 10px;

    background-color: rgb(0, 23, 156);
    border-radius: 10px;
    cursor: pointer;

    outline: 2px solid rgb(0, 0, 0);


}



.wrapper::-webkit-scrollbar-thumb {
    background: rgb(255, 230, 0);
    border-radius: 20px;
    cursor: pointer;
    outline: 2px solid rgb(0, 0, 0);


}

.box {


    display: inline-block;
    min-height: fit-content;
    font-family: "PKMN RBYGSC";
    min-height: fit-content;
    margin: 0;
    padding-left: 5%;
    margin-top: 20px;
    margin-left: 10px;
    image-rendering: pixelated;
    text-align: center;
    font-size: 10px;


}

.box img {
    border-radius: 15px;
    border: black solid 5px;
    margin: 0 auto;
    background-color: rgb(191, 238, 252);
}

img:hover {
    scale: 80%;
    background-color: whitesmoke;
    cursor: pointer;
}

img:active {


    animation: bounce-top 0.9s both;

}



@keyframes bounce-top {
    0% {

        transform: translateY(-45px);

        animation-timing-function: ease-in;
        opacity: 1;
    }

    24% {
        opacity: 1;
    }

    40% {

        transform: translateY(-24px);

        animation-timing-function: ease-in;
    }

    65% {

        transform: translateY(-12px);

        animation-timing-function: ease-in;
    }

    82% {

        transform: translateY(-6px);

        animation-timing-function: ease-in;
    }

    93% {

        transform: translateY(-4px);

        animation-timing-function: ease-in;
    }

    25%,
    55%,
    75%,
    87% {

        transform: translateY(0px);

        animation-timing-function: ease-out;
    }

    100% {

        transform: translateY(0px);

        animation-timing-function: ease-out;
        opacity: 1;
    }
}



.box p {
    margin-top: 10px;
    margin: 10px auto;
    width: 50px;
    height: 20px;
    background-color: rgb(255, 253, 110);
    border-radius: 20px;
    font-family: "PKMN RBYGSC";
    font-size: 0.8em;


}

.box h1 {
    margin: 10px;
    font-family: "PKMN RBYGSC";
}

.idTag {

    font-size: 0.9em;
    color: darkblue;

}

.spriteImages {


    width: 30vh;
    height: 30vh;
}