@import url(//db.onlinewebfonts.com/c/65780863e7302fe257df982341d6a1cb?family=PKMN+RBYGSC);



.wrapper {

    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;
    background-color: #008888;
    box-shadow: 0 10px 2px 0 rgba(0, 0, 0, 0.16);
    overflow: auto;
}

.wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.wrapper::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
    cursor: grab;
}

.wrapper::-webkit-scrollbar-thumb {
    background-color: #ffe100;
    width: 5px;
    border-radius: 5px;
    border: 2px solid black;
    cursor: move;

}




.box {

    border: 1px solid black;
    padding-bottom: 10px;
    width: 120px;
    height: 140px;
    margin: 10px;
    background-image: url("/src/Frame\ 2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20%;
    border: none;

    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;


}


.mainbox {
    display: flex;
    width: 100%;



}

.box img {


    margin: 0 auto;

}

.box:hover {
    animation: bounce-top 4s both;
    box-shadow: 2px 10px 0 rgba(0, 0, 0, 0.16);
    background-color: rgb(223, 213, 116);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;


}

img:hover {




    cursor: pointer;
}




@keyframes bounce-top {
    0% {

        transform: translateY(-5px);

        animation-timing-function: ease-in;
        opacity: 1;
    }

    24% {
        opacity: 1;
    }

    40% {

        transform: translateY(-24px);

        animation-timing-function: ease-in;
    }

    65% {

        transform: translateY(-12px);

        animation-timing-function: ease-in;
    }

    82% {

        transform: translateY(-6px);

        animation-timing-function: ease-in;
    }

    93% {

        transform: translateY(-4px);

        animation-timing-function: ease-in;
    }

    25%,
    55%,
    75%,
    87% {

        transform: translateY(0px);

        animation-timing-function: ease-out;
    }

    100% {

        transform: translateY(0px);

        animation-timing-function: ease-out;
        opacity: 1;
    }
}



.box p {

    background-color: rgba(255, 255, 255, 0.407);
    text-align: center;
    font-family: "PKMN RBYGSC";
    font-size: 0.8em;


}

.box h1 {

    font-family: "PKMN RBYGSC";
}

.idTag {

    font-size: 0.6em;
    color: darkblue;
    border-radius: 5px;
    border-bottom: 2px solid rgba(181, 181, 181, 0.571);
    border-radius: 0%;
    text-align: center;
    margin: 0;

}

.spriteImages {
    display: block;
    margin: 0 auto;
    width: 95%;
    image-rendering: pixelated;

    border-radius: 5px;
    color: #585858;
}

.pokecontainer {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
    flex-grow: 1;

    flex-wrap: nowrap;
    align-content: space-between;
    align-items: stretch;
}

.appcontainer {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;

}