@import url(//db.onlinewebfonts.com/c/65780863e7302fe257df982341d6a1cb?family=PKMN+RBYGSC);

.closerview {
    box-sizing: border-box;
    min-width: 400px;
    height: 100%;
    padding: 40px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .2rem;
    background-color: #fff97e;

}

.closerviewpokemon {
    /* background-image: url("../../images/Pokemon-forest-by-BlazingIfrit-Fur-Affinity-dot-net.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    cursor: none;
    border-radius: 30px;
    border: rgb(50, 47, 47) 3px solid;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    image-rendering: pixelated;
    height: 250px;
    margin: 1rem auto;
}

.closerviewpokemon>img {
    cursor: default;

}

.datawrapper {

    height: min(38rem);
    padding: 20px;
    color: rgb(27, 14, 55);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #73cdb8;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}



.databox {
    color: rgb(2, 2, 2);
    margin: 0 0 5px;
    width: 290px;

    text-transform: capitalize;

    border-radius: 20px;
    height: max(40px);
    text-align: center;
    font-family: "PKMN RBYGSC";
    font-size: 1rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-image: url("../../images/graphic.png");
    background-repeat: no-repeat;
    background-size: cover;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-top: 2px solid rgba(44, 40, 40, 0.815);
    align-items: baseline;

}

.databox>p {
    margin: .2rem auto;
    padding-top: .5rem;
    font-size: 12px;


}

.itemnametag {
    grid-area: 3/ 5 / 1 / 7;


}

.itemIDtag {
    grid-area: 1 / 6 / 2 / 1;
    width: 80%;
    padding: 5%;

}





.datachar {
    font-size: 0.7em;
    font-weight: 300;

    display: flex;
    flex-direction: column;

    margin: 0;


}



.shinybtn {

    margin: 5px 10px auto;
    background: #f5ff3d;
    appearance: none;


    font-size: 0.5em;
    width: 3.5rem;

    grid-area: 1 / 2 / 2 / 1;
    box-sizing: border-box;
    border-radius: 0.6rem;
    font-family: "PKMN RBYGSC";

    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: all .1s ease;
    text-transform: uppercase;
    border: .2rem solid rgb(255, 255, 255);
}

.shinybtnactive {

    background: #fffdee;
    color: #050801;
    box-shadow: 0 0 5px #d8f403,
        0 0 25px #f2f4d1,
        0 0 50px #c9fcff,
        0 0 200px #ffe263;
    -webkit-box-reflect: below 0.6px linear-gradient(transparent, rgba(223, 223, 223, 0.333));


}

.shinybtn:active {
    box-shadow: 0px 4px 8px rgba(darken(rgb(243, 255, 191), 30%));
    transform: scale(0.80);
}


.datalist {

    list-style-type: none;
    margin: 0;
    width: min(90%);
    height: min(12rem);
    padding: 1.3rem;
    background-image: url("../../images/aloladex_background_by_sn_lolz_dbn3qmh-fullview.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 20px;
    border-top: 2px solid rgba(56, 52, 52, 0.652);
    display: grid;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: 40% 100px;
    justify-items: center;
    border-bottom: 2px solid rgba(94, 91, 91, 0.815);
}

.datatypebox {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;


}


.datatype {
    margin: 0 auto;
    position: relative;
    font-size: .5rem;
    font-family: "PKMN RBYGSC";
    text-align: center;



}

.datadisc {
    margin: 0;
    position: relative;
    font-size: .5rem;
    font-family: "PKMN RBYGSC";
    grid-column: 2/2;
    grid-row: 2/2;




}

.datadisc p {
    width: 270px;
    height: 100px;
    line-height: 14px;
    background-color: rgba(209, 205, 205, 0.688);
    box-shadow: rgba(8, 110, 62, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 20px;
    padding: .5rem;
    text-indent: 10px;
    line-height: 20px;
    border-top: 2px solid rgba(44, 40, 40, 0.815);
    text-align: center;
    margin: 3% 7%;

}

.datalist>li {

    margin: 0;
    text-transform: capitalize;
    font-weight: 600;
    width: max(78px);


}

.datachar>h1 {
    margin: 0;
    position: relative;
    height: 1.3rem;
    color: white;
    text-shadow: 0 1.5px 1.9px black;
    font-size: .7rem;
    font-family: "PKMN RBYGSC";



}


.answer {

    margin: 3% 20% 0;
    border-bottom: 1px solid rgba(150, 255, 160, 0.933);
    border-radius: 15px;
    width: 20px;
    border-width: 3px;
    color: white;
    font-size: .8rem;
    text-align: center;
    text-shadow: 0 1.5px 2.8px black;
    font-family: Arial, Helvetica, sans-serif;
}

.abilities {
    margin: 3% 0;
    padding-top: 5px;
    border-radius: 15px;
    width: fit-content;
    border-width: 4px;
    color: rgb(255, 242, 0);
    font-size: .8rem;

    text-shadow: 0 2.5px 2.8px black;
    font-family: sans-serif;
}


.typebox {

    box-shadow: rgba(0, 0, 0, 0.471) 0px 3px 10px, rgba(0, 0, 0, 0.526) 0px 2px 2px;
    padding: 10px;

    border-radius: 20px;
    font-size: .8rem;
    width: max(40px);
    text-align: center;
    color: white;
    padding: .3rem;
    margin: 0;
    position: relative;

}