@import url(//db.onlinewebfonts.com/c/65780863e7302fe257df982341d6a1cb?family=PKMN+RBYGSC);

.closerview {
    box-sizing: border-box;
    min-width: 400px;
    height: 100%;
    padding: 40px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .2rem;
    background-color: #fff97e;

}

.closerviewpokemon {
    background-image: url("../../images/Pokemon-forest-by-BlazingIfrit-Fur-Affinity-dot-net.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: none;
    border-radius: 30px;
    border: rgb(50, 47, 47) 3px solid;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    image-rendering: pixelated;
    height: 250px;
    margin: 1rem auto;
}

.closerviewpokemon>img {
    cursor: default;

}

.datawrapper {

    height: min(38rem);
    padding: 20px;
    color: rgb(27, 14, 55);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #73cdb8;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}



.databox {
    color: white;
    margin: 0 0 5px;
    width: 290px;
    padding: .4rem;
    text-transform: capitalize;
    background-image: url("../../images/aloladex_background_by_sn_lolz_dbn3qmh-fullview.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    height: max(50px);
    text-align: center;
    font-family: "PKMN RBYGSC";
    font-size: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-top: 2px solid rgba(44, 40, 40, 0.815);
    align-items: baseline;

}

.databox>p {
    margin: .2rem auto;
    padding-top: .5rem;


}

.itemnametag {
    grid-area: 2/ 2 / 2 / 5;


}

.itemIDtag {
    grid-area: 2 / 1 / 2 / 1;

    padding: 10%;

}





.datachar {
    font-size: 0.7em;
    font-weight: 300;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;


}



.shinybtn {

    margin: 0 auto;
    background: #13cf97;
    appearance: none;
    padding: .20rem;
    font-size: 0.6em;
    width: 5rem;
    height: 2rem;
    grid-area: 2 / 5 / 5 / 5;
    box-sizing: border-box;
    border-radius: 0.6rem;
    font-family: "PKMN RBYGSC";
    color: rgb(255, 254, 238);
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: all .1s ease;
    text-transform: uppercase;
    border: .2rem solid rgb(5, 150, 116);
}

.shinybtnactive {

    background: #fffdee;
    color: #050801;
    box-shadow: 0 0 5px #d8f403,
        0 0 25px #f2f4d1,
        0 0 50px #c9fcff,
        0 0 200px #ffe263;
    -webkit-box-reflect: below 0.6px linear-gradient(transparent, rgba(223, 223, 223, 0.333));


}

.shinybtn:active {
    box-shadow: 0px 4px 8px rgba(darken(rgb(243, 255, 191), 30%));
    transform: scale(0.80);
}


.datalist {

    list-style-type: none;
    margin: 0;
    width: min(90%);
    height: min(10rem);
    padding: 1.3rem;

    background-color: white;

    border-radius: 20px;
    border-top: 2px solid rgba(56, 52, 52, 0.815);
    display: grid;
    grid-template-columns: 60px 7rem 3rem;
    grid-template-rows: repeat(4, min(50px));
    justify-items: center;

}


.datatype {
    margin: 0 auto;
    position: relative;

    font-size: .5rem;
    font-family: "PKMN RBYGSC";
    text-align: center;
    grid-column: 1/1;
    display: grid;

}

.datadisc {
    margin: 0;
    position: relative;

    font-size: .5rem;
    font-family: "PKMN RBYGSC";
    grid-column: 3/3;
    grid-row: 2/2;
    padding-right: 50px;



}

.datadisc p {
    width: 200px;
    height: 100px;
    line-height: 16px;
    overflow-y: scroll;

}

.datalist>li {

    margin: 0;
    text-transform: capitalize;
    font-weight: 600;



}

.datachar>h1 {
    margin: 0;
    position: relative;
    height: 1.3rem;

    font-size: .7rem;
    font-family: "PKMN RBYGSC";



}

.datadisc h1 {
    margin: 0;
    height: 15px;
    top: -5px;
    position: relative;
    padding-left: 20px;
}


.answer {
    font-weight: 600;
    margin: 0;

}

.typebox {

    box-shadow: rgba(0, 0, 0, 0.471) 0px 3px 10px, rgba(0, 0, 0, 0.526) 0px 2px 2px;
    padding: 10px;

    border-radius: 20px;
    font-size: 1rem;
    width: 50px;
    text-align: center;
    color: white;
    padding: .3rem;

    position: relative;

}